<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bassdrive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>387728EC1BA4D5B30009D35B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B836531B63CBB300C41F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38B836681B63CBB400C41F02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
